.footer{
    grid-column: 1/11;
    background-color: #1d1e1e;
    display:grid;
    padding-top: 1vw;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(10,1fr);
}
.footer #logo{
    grid-row: 1/2;
    grid-column: 2/4;
    font-size: 0.9vw;
    display: flex;
    flex-direction: column;
    color: gray;
}
.footer #logo img{
    flex:0.2;
    height:3vw;
}

.footer #logo #link{
    flex:1;
    font-size: 0.8vw;
    color:#009add;
    text-decoration: underline;
    height: min-content;
}
.footer #company{
    grid-column: 5/6;
    font-size: 0.8vw;
    color: #ffffff;
    text-align: left;
    height: min-content;
}
.footer #company ul{
    padding: 0;
    margin:0;
    color: gray;
    list-style: none;
}
.footer #buyers{
    grid-column: 6/7;
    font-size: 0.8vw;
    color: #ffffff;
    text-align: left;
    height: min-content;
}
.footer #buyers ul{
    padding: 0;
    margin:0;
    list-style: none;
    color: gray;
    font-size: 0.8vw;
    height: min-content;
}
.footer #wholesalers{
    grid-column: 7/8;
    font-size: 0.8vw;
    color: #ffffff;
    text-align: left;
    height: min-content;
}
.footer #wholesalers ul{
    padding: 0;
    margin:0;
    list-style: none;
    color: gray;
    font-size: 0.8vw;
    height: min-content;
}
.footer #contacts{
    grid-column: 8/9;
    font-size: 0.8vw;
    color: #ffffff;
    text-align: left;
    height: min-content;
}
.footer #contacts ul{
    padding: 0;
    margin:0;
    color: gray;
    list-style: none;
    font-size: 0.8vw;
    height: min-content;
}
.line{
    margin-bottom: 6vw;
    grid-column: 2/10;
    border-top: 2px solid gray;
}
.info{
    grid-column: 2/10;
    display: flex;
}
.info #rights{
    flex:1;
    text-align: left;
    font-size: 1vw;
    color: gray;
}
.info #socialNetworks{
    flex:1;
    text-align: right;
}
.info #socialNetworks img{
    height:1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
}

